.div {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}

.roomTable{
  column-width: 100px;
  align-content: center;
  padding-top: 30px;
  word-spacing: 50px;
  margin-left: 1%;
  margin-right: 1%;
}
a.table_link{
color: blue;
}

a:hover, a:active {
    background-color: rgb(62, 255, 91);
  }
tr:nth-child(even){
  background: #fff; 
}
tr:nth-child(odd){
  background: rgba(223, 223, 223, 0.8);
}

td.phone{
  padding: 10px;
    text-align: center;
}

td.roomNumber{
  text-align: center;
}

td.personName{
    padding: 10px;
}

.tableRooms {
  margin-top: 10%;
  background-color: rgba(223, 223, 223, 0.8);
  max-width: 50%;
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-top: -200px;
    margin-left: -200px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    border-radius: 10;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px; /* Bestemmer størrelse på knappen*/
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: left;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  width: 35px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
