

  .container{
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: stretch;
    /* height: 80%; */
    width: auto;
  }

  .div {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
   
  }

  p {
    padding: 0 0 5px;
    margin: 4px auto;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, sans-serif;
}
h2 {
  font-weight: 600;
  font-size: 25;
  margin: 4px auto;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
  .calDiv {
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 30%;
    width: 380px;
    margin-top: -100px;
    margin-left: -200px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    border-radius: 10;
    padding: 25px;
  
    
 
    overflow: hidden; 
    
  }
  
  .infoDivs{
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 65%;
    width: 380px;
    margin-top: -100px;
    margin-left: -200px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    border-radius: 10;
    padding: 25px;
    
    
  
    overflow: hidden; 
   

  }

  .bytDiv{
    width: 360px;
    margin: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    
  }

  
  
  li {
    float: left;
    display: block;
    width: 25%;
    text-align: center;
    list-style-type: none;
    font-size: 18px;
  }

  li a:link, a:visited {
    color: black;
    text-align: center;
  }

  
  li:hover{
    border-radius: 5px;
    background-color: #1abc9c;
    color: #ecf0f1;
  }
  
  