li {
    list-style-type: none;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 20px;
    margin: 15px;
    white-space: normal;
    text-align: left;
  }

   

  th {
      font-weight: 400;
      text-align: right;
      font-family: 'Open Sans', Helvetica, sans-serif;
      font-size: 25px;
  }
  span {
    padding: 0 0 5px;
    margin: 4px auto;
    text-align: right;
    font-size: 20px;
    font-family: 'Open Sans', Helvetica, sans-serif;
  }

  h2 {
    font-weight: 600;
    font-size: 30;
    margin: 4px auto;
    padding: 10;
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
}
p {
    padding: 0 0 5px;
    margin: 4px auto;
    font-size: 15;
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

  .front {
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 350px;
    margin-top: -200px;
    margin-left: -200px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    border-radius: 10;
    padding-left: 25px;
    padding-right: 25px;
   
  }

  .div {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
   
  }

  input {
  float: right;								
	height: 25px;
	width: 170px;
  
  }

  button {
    zoom: 1.8;
    float: right;
    font-family: 'Open Sans', Helvetica, sans-serif;
  }

  #fejl {
    color: red;
    font-size: 24px;
  }
