 
  li {
    list-style-type: decimal;
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin: 1px;
    white-space: normal;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
  }

  th {
      font-weight: 500;
      text-align: right;
      font-family: 'Open Sans', Helvetica, sans-serif;
      font-size: 25px;
      text-align: center;
  }

  td {
    padding: 5px;
   
    margin: 2px auto;
    text-align: left;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, sans-serif;
}
  span {
    padding: 5px; 
    
    margin: 2px auto;
    text-align: left;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, sans-serif;
  }

  h2 {
    font-weight: 600;
    font-size: 30;
    margin: 4px auto;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
}
p {
    padding: 0 0 5px;
    margin: 4px auto;
    font-size: 15;
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

  .front {
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-top: -200px;
    margin-left: -200px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    border-radius: 10;
    padding-left: 25px;
    padding-right: 25px;
   
  }

  .div {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
   
  }

  input {
  zoom: 1.8;
  float: right;								
	height: 13px;
	width: 13px;
                        
                      
						
						
	
  }

  
  