.div {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
 
}
.form {
  position: initial;
  z-index: 1;
  background: rgb(223, 223, 223);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
th {
      font-weight: 500;
      text-align: right;
      font-family: 'Open Sans', Helvetica, sans-serif;
      font-size: 22px;
      text-align: center;
      padding: 10px;
  }

td {
    padding: 5px;
    margin: 2px auto;
    text-align: left;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

tr {
    list-style-type: decimal;
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin: 1px;
    white-space: normal;
    text-align: left;
    font-size: 18px;
  
  }
  

p {
    padding: 0 0 5px;
    margin: 4px auto;
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

 
.front {
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-top: -200px;
    margin-left: -200px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    border-radius: 10;
    padding-left: 25px;
    padding-right: 25px;
  
  }

  
  