link(rel="stylesheet" href="/css/adminheader.css")

.links
    a(href='/') Login
    a(href='/overview') Oversigt
    a(href='/calendar') Kalender
    a(href='/list') Checkliste
    a(href='/administrator') Admin

    
