html
    head
        title V.A.K.S
        include adminheader.pug
        link(rel="stylesheet" href="/css/administrator.css")
        script(src='/js/administrator.js')
    body
        
        .div(style="background-image: url('/images/loginbackground.jpg');")
            .tableRooms
                .dropdown  
                    button.dropbtn Gang
                    .dropdown-content
                        each hall in halls
                            a(href=`/administrator/${hall}`) #{hall}
                
                table.roomTable
                    tr 
                        th Værelse 
                        th Navn
                        th Telefon
                        th Rediger
                    each room in rooms 
                    
                        tr
                            td.roomNumber #{room.roomNumber}
                            if room.person != undefined
                                td.personName #{room.person.name}
                            else
                                td.personName Empty
                            if room.person != undefined
                                td.phone #{room.person.phone}
                            else
                                td.phone Empty
                            td 
                                a(class="table_link" href=`/change/${room.hallNumber}+${room.roomNumber}`) Rediger