html
  head
    title Calendar
    include adminheader.pug
    link(rel="stylesheet" href="/css/calendar.css")
    script(src='/js/calendar.js')

  body
  .div(style="background-image: url('/images/loginbackground.jpg');")
    .container
      .calDiv
        h2 Oversigt over uger
        ul(id="week-List")
        - var i = 1;
          while i < 53
            li
              a(href=`/calendar/${i}`)= i++

      .infoDivs
        h2 Info
        if (cleaningrecords)
          p= "Selected Week: " + cleaningrecords[0].week.weekNumber
          if (cleaningrecords[0].room)
            p= "Ansvarligt værelse: " + cleaningrecords[0].room.roomNumber
          else
            p= "Ansvarlig: ingen tilknyttet"
          each value in cleaningrecords
              p= value.cleaningItem.name + " rengjort: " + value.completed



    .bytDiv
      p Byt


    

