html
    head
        title beboer information
        include adminheader.pug
        link(rel="stylesheet" href="/css/change.css")
        
    body
    .div(style="background-image: url('/images/loginbackground.jpg');")
    
      .front 
        
       table 
         h2 Ændring af beboerinformation
         P="Gang: " + room.hallNumber
         P="Værelse: " + room.roomNumber
       .right
        table
           form(action="/change" method="POST").change-form  
            input(type="hidden" name="roomID" value=room._id)
            if !room.person
              li
                span Navn på beboer:
                input(type='text' name="name" placeholder="Beboernavn")
              li
                span Telefon nr. på beboer:
                input(type='text' name="phonenumber" placeholder=' telefon nr.')
              li
                span Ændring af kodeord: 
                input(type='text' name="password" placeholder=' kodeord')
              li
                button(type="submit" id="godkend") Godkend
                button(type="button" onclick=`location.href = '/administrator/${room.hallNumber}'`) Cancel 
            else
              li
                span Navn på beboer:
                input(type='text' name="name" value=room.person.name)
              li
                span Telefon nr. på beboer:
                input(type='text' name="phonenumber" value=room.person.phone)
              li
                span Ændring af kodeord: 
                input(type='text' name="password" value=room.person.password)
              li
                button(type="submit" id="godkend") Godkend
                button(type="button" onclick=`location.href = '/administrator/${room.hallNumber}'`) Cancel 