doctype html
html
    head
        title Rengøringselementer
       
        //- link(rel="stylesheet" href="/css/overview.css")
    body
        table(style='width:50%' border='1' id="table")
            tr
                th Rengøringselement
                th Beskrivelse
                th Edit
                each value in items
                    tr
                        td= value.name
                        td= value.description
                        td= "editknap"
        script(src='')



