html
    head
        title checkliste
        include adminheader.pug
        link(rel="stylesheet" href="/css/list.css")
        
    body
    .div(style="background-image: url('/images/loginbackground.jpg');")
    
      .front 
        
       table 
         h2 Værelse 16, gang 1
         p March 4, 2016
          th Checkliste
            .right
              
          each value in items
            table
              li
                span=    value.name
              td=  "- " + value.description 
              
              input(type="checkbox")
           
                 
              
                    
            
               
             
            
            
             

           
     

