doctype html
html
    head
        title V.A.K.S
        link(rel="stylesheet" href="/css/login.css")
    body
        .div(style="background-image: url('/images/loginbackground.jpg');")
            .login-page
                .form
                    p Login for at fortsætte
                    p(id="hint") (Navn: 0101 , pw: 123)
                    form(action="/login" method="POST").login-form
                        input(type='text' name="navn" placeholder='Brugernavn')
                        input(type='password' name="password" placeholder='Kodeord')
                        button(type="submit" id="login") Login
                    p(id="fejl")= msg

            .feed-page
                .feed-box
                    p Ugens ansvarlige
                        if(værelse && værelse.person)
                            P= "VærelseNr: " + værelse.roomNumber
                            P= "Værelsespersonnavn: " + værelse.person.name