doctype html
html
    head
        title Oversigt
        include adminheader.pug
        link(rel="stylesheet" href="/css/overview.css")  
    body
        .div(style="background-image: url('/images/loginbackground.jpg');")       
            .front 
                .div2
                    if(person)   
                        p()= "Du er logget ind som: " +  person.name
                    else
                        p()= "Du er logget ind som: " +  "en snyder"
            
                    table(style='width:50%', border='1', id="table")
                        tr
                            th GangNr
                            th VærelseNr
                            th Personnavn
                        each value in værelser
                            tr
                                td= "0" + value.hallNumber
                                td= "0" + value.roomNumber
                                if (value.person)
                                    td= value.person.name
                                else
                                        td= "Ingen person tilknyttet"
                                        
                                        script(src='/js/overview.js')
            
            



